---
export interface Props {
	title: string;
}

import Signout from '../components/signout.svelte';
import SearchBar from '../components/searchBar.svelte';


const { title } = Astro.props;

import { appwriteUser , appwriteClient } from '../lib/appwrite';

// get the user from the cookie
const user = Astro.cookies.get('user').value;
const currSession = Astro.cookies.get('session').value;

let loggedIn  = false;
let name = '';

if (user) {
	loggedIn = true;
	const userName = Astro.cookies.get('userName').value as string;
	name = userName;
} else {
	loggedIn = false;
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-white">
		<nav class="z-50">
			<a href="/" class="w-auto h-auto scale-[1.4] rounded-3xl pt-1">
				<svg width="30" height="30" viewBox="10 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M47.5453 69.5372H50.6197V97.0001H47.5453V69.5372Z" fill="#DA3D05"/>
					<path d="M38.9901 33.7927L46.8402 19.0252L58.5552 32.4055L52.1742 30.4597L53.2607 50.9193V60.2195L55.0723 65.8304L60.8675 69.9916L65.9915 69.6449L69.5652 66.5237L62.4047 47.1816L58.5552 50.2257L57.3572 46.7579L58.5552 42.5965L61.8923 39.129L65.9915 36.883L68.478 47.1816L71.1154 55.5185L75 67.564L69.5652 74.1526L63.4056 75.8867L56.1593 73.8061L50.3622 69.6449L47.1013 69.9916L36.5941 76.5803L27.8987 73.1128L25 66.8707L31.8845 53.3466L36.5946 39.129L38.9901 41.7871L40.5796 45.2199L41.3966 47.672L40.5796 51.5952L36.785 49.6336L35.1451 56.4673L31.1594 62.3627L31.884 67.2175L36.2318 69.9916H40.5796L45.6523 66.5237L47.5453 62.6715L48.5508 56.8145L48.9129 50.2257V46.0645L48.1883 40.5161L46.3771 31.8468L38.9901 33.7927Z" fill="url(#paint0_linear_401_20)"/>
					<path d="M44.8998 16.4854L35.7068 5.66179L48.2457 12.7712L57.9488 2.00006L50.1861 14.3723L58.991 24.8757L46.8402 18.0865L35.8659 26.5137L44.8998 16.4854Z" fill="#FFE600"/>
					<path d="M47.1517 70.1371L47.3953 70.1112V97.0001V97.1501H47.5453H50.6197H50.7697V97.0001V70.122L56.0718 73.928L56.0929 73.9431L56.1179 73.9503L63.3642 76.0309L63.4052 76.0427L63.4462 76.0311L69.6059 74.297L69.6511 74.2843L69.681 74.2481L75.1157 67.6594L75.168 67.5961L75.1428 67.518L71.2584 55.4733L71.2582 55.4725L68.6226 47.1413L66.1373 36.8478L66.0913 36.6573L65.9194 36.7515L61.8203 38.9974L61.8001 39.0084L61.7843 39.025L58.4471 42.4925L58.4213 42.5193L58.411 42.555L57.2131 46.7164L57.1999 46.762L57.2154 46.8069L58.4134 50.2747L58.4824 50.4745L58.6482 50.3434L62.3358 47.4273L69.3887 66.4788L65.9309 69.4986L60.9112 69.8383L55.1999 65.7373L53.4107 60.1959V50.9193H53.4109L53.4105 50.9113L52.3354 30.6657L58.5114 32.549L59.0145 32.7024L58.668 32.3067L46.953 18.9264L46.8098 18.7628L46.7077 18.9548L38.8576 33.7223L38.6966 34.0251L39.0283 33.9378L46.2626 32.0321L48.0403 40.5412L48.7629 46.0742V50.2216L48.4015 56.7977L47.4011 62.6248L45.5351 66.4221L40.5332 69.8416H36.2756L32.0223 67.1278L31.3164 62.3983L35.2694 56.5513L35.2846 56.5288L35.291 56.5023L36.8862 49.8548L40.5107 51.7285L40.6862 51.8192L40.7265 51.6258L41.5434 47.7026L41.5517 47.663L41.5389 47.6246L40.7219 45.1725L40.7193 45.1646L40.7157 45.1569L39.1262 41.7241L39.1167 41.7035L39.1015 41.6867L36.706 39.0286L36.5333 38.8369L36.4522 39.0818L31.7456 53.2886L24.8663 66.8027L24.8332 66.8677L24.864 66.9339L27.7627 73.1759L27.7878 73.23L27.8432 73.2521L36.5386 76.7196L36.6093 76.7478L36.6738 76.7074L47.1517 70.1371ZM35.7808 5.5313L35.5925 5.75889L44.7006 16.4825L35.7545 26.4133L35.9573 26.6326L46.8532 18.2656L58.9178 25.0066L59.1059 24.7793L50.3711 14.3596L58.0758 2.07978L57.8373 1.89966L48.2149 12.5813L35.7808 5.5313Z" stroke="black" stroke-width="0.3"/>
					<defs>
					<linearGradient id="paint0_linear_401_20" x1="50" y1="2.00006" x2="50" y2="97.0001" gradientUnits="userSpaceOnUse">
					<stop stop-color="#DA8105"/>
					<stop offset="1" stop-color="#DA3805"/>
					</linearGradient>
					</defs>
				</svg>
			</a>
			<div class="flex flex-col" id="create">
				<a class="bg-purple-900 p-2 rounded-md hover:bg-purple-900" id="DropDownBtn">Posts</a>
				<!--  a dropdown menu for the create button -->
				<div class="flex flex-col gap-2" id="createDropdown">
					<a href="/post/post" class="p-2 rounded-md">🔥 All Posts</a>
					<a href="/pitch/pitch" class="p-2 rounded-md">🚀 All Pitches</a>
				</div>
			</div>
			<div class="flex items-center">
			<SearchBar client:only="svelte" />
			</div>
			<div class="flex flex-row gap-5">
				<div class="flex flex-col" id="create">
				{loggedIn && <a class="bg-purple-900 p-2 rounded-md" id="DropDownBtn">Create</a>}
				<!--  a dropdown menu for the create button -->
				<div class="flex flex-col gap-2" id="createDropdown">
					{loggedIn && <a href="/post/create" class="p-2 rounded-md">🎉 Create Post</a>}
					{loggedIn && <a href="/pitch/create" class="p-2 rounded-md">🔧 Create Pitch</a>}
				</div>
				</div>
				{loggedIn && <p class="p-2 rounded-md">{name}</p>}
				{loggedIn && <Signout client:only="svelte" />}
				{!loggedIn && <a href="/login" class="p-2 rounded-md">Login</a>}
			</div>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		background-color: rgb(22, 22, 22) !important;
		color: white;
		scroll-behavior: smooth;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	nav {
		display: flex;
		justify-content: space-between;
		padding: 0.5rem;
		background-color: rgb(var(--accent));
		position: sticky;
		top: 0;
	}
	nav a {
		color: white;
		text-decoration: none;
	}
	nav a:hover {
		text-decoration: underline;
	}
	nav a:active {
		text-decoration: underline;
	}

	/*  when the create button is hovered, the dropdown menu is shown */
	#DropDownBtn:hover + #createDropdown, #createDropdown:hover {
		display: flex;
	}
	#createDropdown {
		display: none;
		flex-direction: column;
		position: fixed;
		top: 3rem;
		background-color: #861df7;
		padding: 0.5rem;
		border-radius: 0.5rem;
		animation: fadeIn 0.3s;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	#createDropdown a {
		color: white;
		text-decoration: none;
	}
	#createDropdown a:hover {
		text-decoration: underline;
	}
	#createDropdown a:active {
		text-decoration: underline;
	}
	/* width */
	::-webkit-scrollbar {
	width: 10px;
	border-radius: 2rem;
	}

	/* Track */
	::-webkit-scrollbar-track {
	background: transparent;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 2rem;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	background: #555; 
	}
</style>
