---
export interface Props {
	title: string;
}

const { title } = Astro.props;

let loggedIn = false;

import { appwriteClient, appwriteDatabases, appwriteUser } from '../lib/appwrite';

// const promise = appwriteUser.get();

// see if the user exists
const promise = appwriteUser.get().catch((error) => {
	if (error.code === 401) {
		return null;
	}
	throw error;
});

if (promise) {
	promise.then((user) => {
		loggedIn = true;
	});
} else {
	loggedIn = false;
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			{loggedIn ? (
				<a href="/logout">Logout</a>
			) : (
				<a href="/login">Login</a>
			)}
		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		background-color: rgb(22, 22, 22);
		color: white;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	nav {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
		background-color: rgb(var(--accent));
	}
	nav a {
		color: white;
		text-decoration: none;
	}
	nav a:hover {
		text-decoration: underline;
	}
	nav a:active {
		text-decoration: underline;
	}
</style>
